In [1]:
#merge data from several states
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize

In [8]:
state_info = pd.read_csv('stats.csv')
state_pos = 0
current_state = state_info['state'][state_pos]
current_city = state_info['city'][state_pos]
current_state

'AL'

In [9]:
alldogs_merged = pd.read_csv('alldogs_reduced_{}.csv'.format(current_state))

In [10]:
state_pos=state_pos+1

In [11]:
while(state_pos<7):
    current_state = state_info['state'][state_pos]
    current_city = state_info['city'][state_pos]
    temp = pd.read_csv('alldogs_reduced_{}.csv'.format(current_state))
    frames = [alldogs_merged, temp]
    alldogs_merged = pd.concat(frames)
    state_pos=state_pos+1

In [12]:
len(alldogs_merged)

265324

In [13]:
export = alldogs_merged.to_csv('alldogs_merged.csv', header=True, index = False)

In [4]:
alldogs_merged = []
state={'CA':'Los Angeles', 'MN': 'Minneapolis', 'NY':'New York', 'TX': 'Houston'}

In [5]:
for current_state,current_city in state.items():
    temp = pd.read_csv('./data/alldogs_reduced_{}.csv'.format(current_state))
    alldogs_merged.append(temp)

C:\anaconda_python\envs\Insight\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
alldogs_merged = pd.concat(alldogs_merged)
alldogs_merged

,id,organization_id,url,age,gender,size,coat,tags,name,status,...,attributes.declawed,attributes.special_needs,attributes.shots_current,environment.children,environment.dogs,environment.cats,contact.address.city,contact.address.state,contact.address.postcode,adoption_time
0,33853923,CA2395,https://www.petfinder.com/dog/sunny-33853923/c...,Baby,Female,Small,NaN,[],Sunny,adopted,...,NaN,False,True,NaN,NaN,NaN,Los Angeles,CA,90013,19
1,33853969,CA2395,https://www.petfinder.com/dog/batman-33853969/...,Young,Male,Small,Short,[],Batman,adopted,...,NaN,False,True,NaN,NaN,NaN,Los Angeles,CA,90013,29
2,34004290,CA2395,https://www.petfinder.com/dog/benji-34004290/c...,Young,Male,Medium,Short,[],Benji,adopted,...,NaN,False,True,NaN,NaN,NaN,Los Angeles,CA,90013,18
3,34042721,CA2395,https://www.petfinder.com/dog/zuma-34042721/ca...,Adult,Female,Medium,Short,[],Zuma,adopted,...,NaN,False,True,NaN,NaN,NaN,Los Angeles,CA,90013,57
4,34079567,CA2395,https://www.petfinder.com/dog/diego-34079567/c...,Young,Male,Medium,Medium,[],Diego,adopted,...,NaN,False,True,NaN,NaN,NaN,Los Angeles,CA,90013,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45728,7010081,TX734,https://www.petfinder.com/dog/peanut-butter-70...,Young,Male,Small,NaN,[],Peanut Butter,adopted,...,NaN,False,True,False,NaN,NaN,Houston,TX,77070,1381
45729,7010119,TX734,https://www.petfinder.com/dog/lula-7010119/tx/...,Adult,Female,Medium,NaN,[],Lula,adopted,...,NaN,False,True,NaN,NaN,NaN,Houston,TX,77070,1381
45730,7012295,TX734,https://www.petfinder.com/dog/connie-7012295/t...,Adult,Female,Medium,NaN,[],Connie,adopted,...,NaN,False,True,NaN,NaN,NaN,Houston,TX,77070,1380
45731,7012305,TX734,https://www.petfinder.com/dog/coco-7012305/tx/...,Adult,Male,Small,NaN,[],Coco,adopted,...,NaN,False,True,NaN,NaN,NaN,Houston,TX,77070,1380
45732,7012313,TX734,https://www.petfinder.com/dog/joe-7012313/tx/h...,Adult,Male,Small,NaN,[],Joe,adopted,...,NaN,False,True,NaN,NaN,NaN,Houston,TX,77070,1380

In [8]:
export = alldogs_merged.to_csv('./data/alldogs_scoped_merged.csv', header=True, index = False)