In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
trainval = pd.read_csv('./data/trainval_set_all_a4.csv')
trainval.head()

,id,age,gender,size,breeds.primary,breeds.mixed,attributes.spayed_neutered,attributes.house_trained,contact.address.state,breed_pop,month,cg_adpt_time
0,34340680,Baby,Male,Medium,Labrador Retriever,True,False,True,MN,High,2,1 - 2 weeks
1,39949411,Adult,Female,Medium,Retriever,True,True,True,MD,Medium,11,1 - 2 weeks
2,38627637,Adult,Male,Large,Great Pyrenees,False,True,True,NE,Low,7,< 1 week
3,31484643,Baby,Male,Small,Pomeranian,True,False,False,CA,Low,4,< 3 months
4,33307974,Adult,Male,Medium,Rare,True,True,True,NH,Low,10,< 3 months

In [3]:
test = pd.read_csv('./data/test_set_all_a4.csv')
test.head()

,id,age,gender,size,breeds.primary,breeds.mixed,attributes.spayed_neutered,attributes.house_trained,contact.address.state,breed_pop,month,cg_adpt_time
0,37587980,Young,Female,Large,Pit Bull Terrier,False,True,True,NC,High,7,> 3 months
1,43998498,Young,Female,Large,Basset Hound,True,True,True,IA,Low,2,1 - 2 weeks
2,41405428,Young,Female,Small,Jack Russell Terrier,True,True,False,MA,Low,4,1 - 2 weeks
3,34892143,Young,Female,Medium,Labrador Retriever,True,True,False,Other,High,7,< 3 months
4,43001651,Adult,Male,Large,German Shepherd Dog,True,True,False,OR,Medium,10,< 1 week

In [4]:
cat_col = ['age','gender','size','breeds.primary','contact.address.state','breed_pop','month','cg_adpt_time']
trainval[cat_col]=trainval[cat_col].astype('category')
test[cat_col]=test[cat_col].astype('category')

In [5]:
#features
X_features = ['age', 'gender', 'size', 'breed_pop',
               'breeds.primary',
              'breeds.mixed',
             'contact.address.state']
trainval_X = trainval[X_features]
trainval_X.head()

,age,gender,size,breed_pop,breeds.primary,breeds.mixed,contact.address.state
0,Baby,Male,Medium,High,Labrador Retriever,True,MN
1,Adult,Female,Medium,Medium,Retriever,True,MD
2,Adult,Male,Large,Low,Great Pyrenees,False,NE
3,Baby,Male,Small,Low,Pomeranian,True,CA
4,Adult,Male,Medium,Low,Rare,True,NH

In [10]:
test_X = test[X_features]
test_y = test['cg_adpt_time']
test_X.head()

,age,gender,size,breed_pop,breeds.primary,breeds.mixed,contact.address.state
0,Young,Female,Large,High,Pit Bull Terrier,False,NC
1,Young,Female,Large,Low,Basset Hound,True,IA
2,Young,Female,Small,Low,Jack Russell Terrier,True,MA
3,Young,Female,Medium,High,Labrador Retriever,True,Other
4,Adult,Male,Large,Medium,German Shepherd Dog,True,OR

In [6]:
trainval_y = trainval['cg_adpt_time']
trainval_y.head()

0    1 - 2 weeks
1    1 - 2 weeks
2       < 1 week
3     < 3 months
4     < 3 months
Name: cg_adpt_time, dtype: category
Categories (5, object): [1 - 2 weeks, < 1 month, < 1 week, < 3 months, > 3 months]

In [21]:
from sklearn.preprocessing import OneHotEncoder
oh = OneHotEncoder(handle_unknown='ignore', sparse=False)
cat_col = ['age','gender','size','breeds.primary','breed_pop','contact.address.state']

In [23]:
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_trainval = pd.DataFrame(oh.fit_transform(trainval_X[cat_col]))
OH_cols_trainval.columns = oh.get_feature_names(cat_col)
OH_cols_test = pd.DataFrame(oh.transform(test_X[cat_col]))
OH_cols_test.columns = oh.get_feature_names(cat_col)
# One-hot encoding removed index; put it back
OH_cols_trainval.index = trainval_X.index
OH_cols_test.index = test_X.index
rest_trainval = trainval_X.drop(cat_col, axis=1)
rest_test = test_X.drop(cat_col, axis=1)
OH_trainval_X = pd.concat([rest_trainval, OH_cols_trainval], axis=1)
OH_test_X = pd.concat([rest_test, OH_cols_test], axis=1)

In [24]:
OH_trainval_X.head()

,breeds.mixed,age_Adult,age_Baby,age_Senior,age_Young,gender_Female,gender_Male,size_Large,size_Medium,size_Small,...,contact.address.state_Other,contact.address.state_PA,contact.address.state_RI,contact.address.state_SC,contact.address.state_TN,contact.address.state_TX,contact.address.state_VA,contact.address.state_VT,contact.address.state_WA,contact.address.state_WI
0,True,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,True,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,False,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,True,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,True,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
OH_trainval_X.columns

Index(['breeds.mixed', 'age_Adult', 'age_Baby', 'age_Senior', 'age_Young',
       'gender_Female', 'gender_Male', 'size_Large', 'size_Medium',
       'size_Small',
       ...
       'contact.address.state_Other', 'contact.address.state_PA',
       'contact.address.state_RI', 'contact.address.state_SC',
       'contact.address.state_TN', 'contact.address.state_TX',
       'contact.address.state_VA', 'contact.address.state_VT',
       'contact.address.state_WA', 'contact.address.state_WI'],
      dtype='object', length=121)

In [31]:
from sklearn.ensemble import RandomForestClassifier
import time
rf = RandomForestClassifier(n_estimators=150, max_depth=30, n_jobs=-1)

start = time.time()
rf_model = rf.fit(OH_trainval_X, trainval_y)
end = time.time()
fit_time = (end - start)

start = time.time()
y_pred = rf_model.predict(OH_test_X)
end = time.time()
pred_time = (end - start)

print('Fit time: {} / Predict time: {} ---- Accuracy: {}'.format(
    round(fit_time, 3), round(pred_time, 3), round((y_pred==test_y).sum()/len(y_pred), 3)))

Fit time: 155.555 / Predict time: 3.585 ---- Accuracy: 0.319

In [36]:
feature_importances = pd.DataFrame(rf_model.feature_importances_,index = OH_trainval_X.columns,columns=['importance']).sort_values('importance',ascending=False)

In [40]:
feature_importances.to_csv("rf_feat_imp.csv", header=True, index=True)

In [46]:
test_X.iloc[0]

age                                 Young
gender                             Female
size                                Large
breed_pop                            High
breeds.primary           Pit Bull Terrier
breeds.mixed                        False
contact.address.state                  NC
Name: 0, dtype: object

In [113]:
trainval2 = trainval[trainval['size']=='Large']
test2 = test[test['size']=='Large']

In [114]:
#features
X_features = ['age','gender', 'breed_pop',
               'breeds.primary',
              'breeds.mixed',
             'contact.address.state']
trainval2_X = trainval2[X_features]
test2_X = test2[X_features]

In [115]:
trainval2_y = trainval2['cg_adpt_time']
test2_y = test2['cg_adpt_time']

In [116]:
oh = OneHotEncoder(handle_unknown='ignore', sparse=False)
cat_col = ['age','gender','breeds.primary','breed_pop','contact.address.state']
OH_cols_trainval2 = pd.DataFrame(oh.fit_transform(trainval2_X[cat_col]))
OH_cols_trainval2.columns = oh.get_feature_names(cat_col)
OH_cols_test2 = pd.DataFrame(oh.transform(test2_X[cat_col]))
OH_cols_test2.columns = oh.get_feature_names(cat_col)
# One-hot encoding removed index; put it back
OH_cols_trainval2.index = trainval2_X.index
OH_cols_test2.index = test2_X.index
rest_trainval2 = trainval2_X.drop(cat_col, axis=1)
rest_test2 = test2_X.drop(cat_col, axis=1)
OH_trainval2_X = pd.concat([rest_trainval2, OH_cols_trainval2], axis=1)
OH_test2_X = pd.concat([rest_test2, OH_cols_test2], axis=1)

In [117]:
len(trainval2_X)

124631

In [118]:
rf2 = RandomForestClassifier(n_estimators=150, max_depth=30, n_jobs=-1)

start = time.time()
rf_model2 = rf2.fit(OH_trainval2_X, trainval2_y)
end = time.time()
fit_time = (end - start)

start = time.time()
y_pred = rf_model2.predict(OH_test2_X)
end = time.time()
pred_time = (end - start)

print('Fit time: {} / Predict time: {} ---- Accuracy: {}'.format(
    round(fit_time, 3), round(pred_time, 3), round((y_pred==test2_y).sum()/len(y_pred), 3)))

Fit time: 25.932 / Predict time: 0.842 ---- Accuracy: 0.326

In [119]:
feature_importances2 = pd.DataFrame(rf_model2.feature_importances_,index = OH_trainval2_X.columns,columns=['importance']).sort_values('importance',ascending=False)
feature_importances2.head(20)

                                               importance
age_Baby                                         0.093108
breeds.mixed                                     0.086793
gender_Male                                      0.047791
gender_Female                                    0.047448
age_Adult                                        0.047354
age_Young                                        0.026650
contact.address.state_MN                         0.021799
contact.address.state_OR                         0.020538
contact.address.state_CO                         0.017810
age_Senior                                       0.016042
contact.address.state_IL                         0.015656
contact.address.state_MA                         0.014428
breeds.primary_German Shepherd Dog               0.012794
breeds.primary_Pit Bull Terrier                  0.012320
breeds.primary_American Staffordshire Terrier    0.012201
contact.address.state_TX                         0.012184
contact.address.state_WI                         0.011858
breeds.primary_Greyhound                         0.011752
breeds.primary_Boxer                             0.011189
breeds.primary_Shepherd                          0.010815