In [1]:
#merge data from several states
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
state_info = pd.read_csv('stats_all.csv')
state_pos = 0
current_state = state_info['state'][state_pos]
current_city = state_info['city'][state_pos]
current_state

'AL'

In [4]:
alldogs_merged = pd.read_csv('./data_all/alldogs_reduced_{}.csv'.format(current_state))

In [5]:
alldogs_merged.head()

,id,organization_id,url,age,gender,size,coat,tags,name,status,...,attributes.shots_current,environment.children,environment.dogs,environment.cats,contact.address.city,contact.address.state,contact.address.postcode,adoption_time,year,month
0,24113097,CA712,https://www.petfinder.com/dog/madonna-24113097...,Adult,Female,Small,Long,[],Madonna,adopted,...,True,False,NaN,NaN,Birmingham,AL,35201,20,2012,10
1,35898350,CA712,https://www.petfinder.com/dog/bess-located-in-...,Adult,Female,Small,Short,[],"Bess (located in Birmingam, AL)",adopted,...,True,NaN,NaN,NaN,Birmingham,AL,35201,96,2016,11
2,30542160,TX1860,https://www.petfinder.com/dog/madonna-30542160...,Young,Female,Small,Medium,[],Madonna,adopted,...,True,NaN,NaN,NaN,Birmingham,AL,35201,98,2015,1
3,41000971,FL653,https://www.petfinder.com/dog/al-sweetie-birmi...,Adult,Female,Extra Large,Short,[],AL - Sweetie/Birmingham,adopted,...,True,True,True,True,Birmingham,AL,35201,32,2018,3
4,33618001,FL653,https://www.petfinder.com/dog/al-rosie-prattvi...,Young,Female,Large,NaN,[],AL - Rosie/Prattville,adopted,...,True,NaN,NaN,NaN,Birmingham,AL,35201,16,2015,11

In [6]:
len(alldogs_merged)

39169

In [8]:
for state_pos in range(1,49):
    current_state = state_info['state'][state_pos]
    current_city = state_info['city'][state_pos]
    print('Processing state {} - {}'.format(state_pos, current_state))
    temp = pd.read_csv('./data_all/alldogs_reduced_{}.csv'.format(current_state))
    frames = [alldogs_merged, temp]
    alldogs_merged = pd.concat(frames)

Processing state 1 - AK
Processing state 2 - AZ
Processing state 3 - AR
Processing state 4 - CA
Processing state 5 - CO
Processing state 6 - CT
Processing state 7 - DE

C:\anaconda_python\envs\Insight\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

Processing state 8 - FL
Processing state 9 - GA
Processing state 10 - ID
Processing state 11 - IL
Processing state 12 - IN
Processing state 13 - IA
Processing state 14 - KS
Processing state 15 - KY
Processing state 16 - LA
Processing state 17 - ME
Processing state 18 - MD
Processing state 19 - MA
Processing state 20 - MI
Processing state 21 - MN
Processing state 22 - MS
Processing state 23 - MO
Processing state 24 - MT
Processing state 25 - NE
Processing state 26 - NV
Processing state 27 - NH
Processing state 28 - NJ
Processing state 29 - NM
Processing state 30 - NY

C:\anaconda_python\envs\Insight\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Processing state 31 - NC
Processing state 32 - ND
Processing state 33 - OH
Processing state 34 - OK
Processing state 35 - OR
Processing state 36 - PA
Processing state 37 - RI
Processing state 38 - SC
Processing state 39 - SD
Processing state 40 - TN
Processing state 41 - TX
Processing state 42 - UT
Processing state 43 - VT
Processing state 44 - VA
Processing state 45 - WA
Processing state 46 - WV
Processing state 47 - WI

C:\anaconda_python\envs\Insight\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Processing state 48 - WY

In [9]:
len(alldogs_merged)

1472050

In [11]:
while(state_pos<7):
    current_state = state_info['state'][state_pos]
    current_city = state_info['city'][state_pos]
    temp = pd.read_csv('alldogs_reduced_{}.csv'.format(current_state))
    frames = [alldogs_merged, temp]
    alldogs_merged = pd.concat(frames)
    state_pos=state_pos+1

In [12]:
len(alldogs_merged)

265324

In [10]:
export = alldogs_merged.to_csv('./data_all/alldogs_merged_all.csv', header=True, index = False)

In [4]:
alldogs_merged = []
state={'CA':'Los Angeles', 'MN': 'Minneapolis', 'NY':'New York', 'TX': 'Houston'}

In [5]:
for current_state,current_city in state.items():
    temp = pd.read_csv('./data/alldogs_reduced_{}.csv'.format(current_state))
    alldogs_merged.append(temp)

C:\anaconda_python\envs\Insight\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
alldogs_merged = pd.concat(alldogs_merged)
alldogs_merged

,id,organization_id,url,age,gender,size,coat,tags,name,status,...,attributes.declawed,attributes.special_needs,attributes.shots_current,environment.children,environment.dogs,environment.cats,contact.address.city,contact.address.state,contact.address.postcode,adoption_time
0,33853923,CA2395,https://www.petfinder.com/dog/sunny-33853923/c...,Baby,Female,Small,NaN,[],Sunny,adopted,...,NaN,False,True,NaN,NaN,NaN,Los Angeles,CA,90013,19
1,33853969,CA2395,https://www.petfinder.com/dog/batman-33853969/...,Young,Male,Small,Short,[],Batman,adopted,...,NaN,False,True,NaN,NaN,NaN,Los Angeles,CA,90013,29
2,34004290,CA2395,https://www.petfinder.com/dog/benji-34004290/c...,Young,Male,Medium,Short,[],Benji,adopted,...,NaN,False,True,NaN,NaN,NaN,Los Angeles,CA,90013,18
3,34042721,CA2395,https://www.petfinder.com/dog/zuma-34042721/ca...,Adult,Female,Medium,Short,[],Zuma,adopted,...,NaN,False,True,NaN,NaN,NaN,Los Angeles,CA,90013,57
4,34079567,CA2395,https://www.petfinder.com/dog/diego-34079567/c...,Young,Male,Medium,Medium,[],Diego,adopted,...,NaN,False,True,NaN,NaN,NaN,Los Angeles,CA,90013,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45728,7010081,TX734,https://www.petfinder.com/dog/peanut-butter-70...,Young,Male,Small,NaN,[],Peanut Butter,adopted,...,NaN,False,True,False,NaN,NaN,Houston,TX,77070,1381
45729,7010119,TX734,https://www.petfinder.com/dog/lula-7010119/tx/...,Adult,Female,Medium,NaN,[],Lula,adopted,...,NaN,False,True,NaN,NaN,NaN,Houston,TX,77070,1381
45730,7012295,TX734,https://www.petfinder.com/dog/connie-7012295/t...,Adult,Female,Medium,NaN,[],Connie,adopted,...,NaN,False,True,NaN,NaN,NaN,Houston,TX,77070,1380
45731,7012305,TX734,https://www.petfinder.com/dog/coco-7012305/tx/...,Adult,Male,Small,NaN,[],Coco,adopted,...,NaN,False,True,NaN,NaN,NaN,Houston,TX,77070,1380
45732,7012313,TX734,https://www.petfinder.com/dog/joe-7012313/tx/h...,Adult,Male,Small,NaN,[],Joe,adopted,...,NaN,False,True,NaN,NaN,NaN,Houston,TX,77070,1380

In [8]:
export = alldogs_merged.to_csv('./data/alldogs_scoped_merged.csv', header=True, index = False)